* {
    -webkit-tap-highlight-color: transparent;
}

.pag {
    min-width: 50%;
    padding: 0px;
    margin: 60px 25% 0px;
    background-color: rgba(255, 102, 0, 0);
    border-radius: 50px;
    z-index: 1;
}

.pag:hover {
    transition-duration: 0.5s;
    min-width: 50%;
    padding: 0px;
    margin: 60px 25% 0px;
    background-color: rgb(255, 102, 0);
    border-radius: 50px;
    z-index: 1;
}

.border_style_solid_pag {
    border: 1px solid #7a4500;
    border-radius: 50px;
    z-index: 1;
    animation: neon 10s infinite;
}

@keyframes neon {
    0% {
        box-shadow: 0px 0px 0px 3px rgba(145, 87, 0, 0.0), inset 0px 0px 0px 2px rgba(119, 64, 0, 0.0), 0px 0px 60px 2px rgba(139, 56, 0, 0.0), inset 0px 0px 10px 4px rgba(134, 49, 0, 0.0);
    }
    25% {
        box-shadow: 0px 0px 0px 3px rgba(160, 96, 0, 0.514), inset 0px 0px 0px 2px rgba(255, 136, 0, 0.5), 0px 0px 60px 1px rgba(201, 80, 0, 0.5), inset 0px 0px 10px 4px rgba(216, 79, 0, 0.5);
    }
    50% {
        box-shadow: 0px 0px 0px 3px rgba(160, 96, 0, 0.8), inset 0px 0px 0px 2px rgba(255, 136, 0, 0.9), 0px 0px 60px 1px rgba(156, 62, 0, 0.9), inset 0px 0px 10px 4px rgba(216, 79, 0, 0.9);
    }
    75% {
        box-shadow: 0px 0px 0px 3px rgba(160, 96, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 136, 0, 0.5), 0px 0px 60px 1px rgba(175, 70, 0, 0.5), inset 0px 0px 10px 4px rgba(216, 79, 0, 0.5);
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba(160, 96, 0, 0.0), inset 0px 0px 0px 2px rgba(255, 136, 0, 0.0), 0px 0px 60px 1px rgba(148, 59, 0, 0.0), inset 0px 0px 10px 4px rgba(216, 79, 0, 0.0);
    }
}

.pag1 {
    min-width: 50%;
    padding: 0px;
    margin: 60px 25% 0px;
    background-color: #3b00dd00;
    border-radius: 50px;
    z-index: 1;
}

.pag1:hover {
    transition-duration: 0.5s;
    min-width: 50%;
    padding: 0px;
    margin: 60px 25% 0px;
    background-color: #076aff;
    border-radius: 50px;
    z-index: 1;
}

.border_style_solid_pag1 {
    border: 1px solid #3400c2;
    border-radius: 50px;
    z-index: 1;
    animation: neon1 10s infinite;
}

@keyframes neon1 {
    0% {
        box-shadow: 0px 0px 0px 3px rgba(75, 35, 255, 0.0), inset 0px 0px 0px 2px rgba(76, 0, 255, 0.0), 0px 0px 60px 1px rgba(68, 0, 177, 0.0), inset 0px 0px 10px 3px rgba(76, 0, 255, 0.0);
    }
    25% {
        box-shadow: 0px 0px 0px 3px rgba(102, 60, 255, 0.5), inset 0px 0px 0px 2px rgba(104, 22, 255, 0.5), 0px 0px 60px 1px rgba(56, 0, 187, 0.5), inset 0px 0px 10px 3px rgba(55, 0, 255, 0.5);
    }
    50% {
        box-shadow: 0px 0px 0px 3px rgba(98, 55, 255, 0.8), inset 0px 0px 0px 2px rgba(83, 21, 255, 0.9), 0px 0px 60px 1px rgba(52, 0, 172, 0.9), inset 0px 0px 10px 3px rgba(55, 0, 255, 0.9);
    }
    75% {
        box-shadow: 0px 0px 0px 3px rgba(96, 68, 255, 0.5), inset 0px 0px 0px 2px rgba(108, 29, 255, 0.5), 0px 0px 60px 1px rgba(52, 0, 172, 0.5), inset 0px 0px 10px 3px rgba(55, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba(80, 68, 255, 0.0), inset 0px 0px 0px 2px rgba(71, 30, 255, 0.0), 0px 0px 60px 1px rgba(55, 0, 185, 0.0), inset 0px 0px 10px 3px rgba(55, 0, 255, 0.0);
    }
}

.pag2 {
    min-width: 50%;
    padding: 0px;
    margin: 60px 25% 0px;
    background-color: rgba(43, 43, 54, 0);
    border-radius: 50px;
    z-index: 1;
}

.pag2:hover {
    transition-duration: 0.5s;
    min-width: 50%;
    padding: 0px;
    margin: 60px 25% 0px;
    background-color: #ffffff;
    border-radius: 50px;
    z-index: 1;
}

.border_style_solid_pag2 {
    border: 1px solid #ff1e44;
    border-radius: 50px;
    z-index: 1;
    animation: neon2 10s infinite;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(34, 30, 44);
}

.movie {
    margin: 19px 0px;
    padding: 10px;
    z-index: -1;
}

@keyframes neon2 {
    0% {
        box-shadow: 0px 0px 0px 3px rgba(136, 39, 0, 0.0), inset 0px 0px 0px 2px rgba(255, 0, 76, 0.0), 0px 0px 60px 2px rgba(255, 0, 21, 0.0), inset 0px 0px 10px 2px rgba(255, 0, 0, 0.0);
    }
    25% {
        box-shadow: 0px 0px 0px 3px rgba(136, 39, 0, 0.4), inset 0px 0px 0px 2px rgba(255, 0, 76, 0.4), 0px 0px 60px 2px rgba(255, 0, 21, 0.4), inset 0px 0px 10px 2px rgba(255, 0, 0, 0.4);
    }
    50% {
        box-shadow: 0px 0px 0px 3px rgba(136, 39, 0, 0.6), inset 0px 0px 0px 2px rgba(255, 0, 76, 0.6), 0px 0px 60px 2px rgba(255, 0, 21, 0.6), inset 0px 0px 10px 2px rgba(255, 0, 0, 0.6);
    }
    75% {
        box-shadow: 0px 0px 0px 3px rgba(136, 39, 0, 0.4), inset 0px 0px 0px 2px rgba(255, 0, 76, 0.4), 0px 0px 60px 2px rgba(255, 0, 21, 0.4), inset 0px 0px 10px 2px rgba(255, 0, 0, 0.4)
    }
    100% {
        box-shadow: 0px 0px 0px 3px rgba(136, 39, 0, 0.0), inset 0px 0px 0px 2px rgba(255, 0, 76, 0.0), 0px 0px 60px 2px rgba(255, 0, 21, 0.0), inset 0px 0px 10px 2px rgba(255, 0, 0, 0.0);
    }
}